<div class="container col-lg-6">
  <form>
    <div class="form-group row">
      <label for="id" class="col-sm-4 col-form-label">Id</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="id" placeholder="Enter Id">
      </div>
    </div>
    <div class="form-group row">
      <label for="leaveType" class="col-sm-4 col-form-label">Leave Type</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="leaveType" placeholder=" Enter Leave Type">
      </div>
    </div>
    <div class="form-group row">
      <label for="allocatedDays" class="col-sm-4 col-form-label">Allocated Days</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="allocatedDays" placeholder="Enter Allocated Days">
      </div>
    </div>
  </form>
</div>
